# Ignore node_modules directory
node_modules/

# Ignore Cypress videos and screenshots
cypress/videos/
cypress/screenshots/

# Ignore .env file
.env

# Ignore macOS .DS_Store file
.DS_Store

# Ignore VS Code settings
.vscode/

# Ignore coverage reports
/coverage
